
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* margin: 0; */
}
nav {
    border: 1px solid blue;
    background-color: #1A0B2E;
}
.nav-content {  
   border: 1px solid red;
   max-width: 1200px;
   display: flex;
   justify-content: space-between;
   margin: 24px auto;
   align-items: center;
}
.nav-content ul {
    display: flex;
    /* justify-content: space-between; */
    gap: 32px;
}
.logo  {
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: black;

}
.nav-content li {
    text-decoration: none;
    list-style: none; 
    color: white;
}