
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    /* padding: 0; */
    margin: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}
/* shared style */
.btn {
    padding: 12px 16px;
    font-weight: 600px;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(45deg, #F7E93F, #fb09b2, #9100f8);
    cursor: pointer;
}
.display-flex {
    display: flex;
    justify-content: space-between;
}
.bttn{
    color: rgb(27, 230, 27);
    background: transparent;
    border: 2px solid rgb(37, 231, 37);
}
/* color white */
.color-white {
    color: white;
}
.color-green{
    color: #00FF88;
}
.bg-naviblue {
     background-color: #1A0B2E;
}
.section-title{
    font-size: 3rem;
    font-weight: bold;
    padding-top: 120px;
    padding-bottom: 50px;
    text-align: center;
}


/* main style */

/* navbar related style */

.nav-content {  
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
   align-items: center;
   text-align: center;
   padding: 40px;
   
   
}

.nav-content ul, .nav-content a {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 32px;
    color: white;
}

.logo  {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    border: black;
background
}

.logo span {

    background: linear-gradient(#F7E93F, #fb09b2, #9100f8);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
 
.image-mobile {
    display: none;
    width: 24px;
}



/* banner related style */
#banner {
  
    width: 100%;
    background: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: auto; */
    min-height: 300px;

}
.banner-container {
   display: grid;
   place-items: center;
   text-align: center;
   position: relative;

}
.center-box {
    position: relative;
    width: 80%;
    max-width: 350px;
    margin-top: 80px;
}
.circle {
    width: 100%;
    height: auto;
}
.mic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: auto;
}
.banner-container .center-box span {
    background-color: #00FF88;
    color: #1A0B2E;
    font-weight: 700;
    padding: 6px 15px;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    box-shadow: 3px 0 20px #27e98ff7;
    right: -15px;
    top: 40px;

}

.brand{
    font-weight: 900;
    font-size: 4rem; 
    margin: 40px auto 8px;   
}
.banner-button {
    margin: 24px auto 100px;
    gap: 8px;
}


/* about section related style */

.about-container {
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
   
}
.box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 50px;
    align-items: center;
}
.about-container hr {
    margin: 80px;

}
.box-contant h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #00FF88;
}
.box-contant p{
font-size: 1rem;
 color: white;
 text-transform: uppercase;
 margin-top: 16px;

}
/* card related style */
.card {
    /* border: 1px solid #230E3D; */
    background: #230E3D;
    margin: none;
}
.card-content {
    color: white;
    align-items: center;
}
.card-container>* {

    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
    gap: 32px;
    
}
.sound img,
.phone img,
.community img,
.interviews img,
.resources img
 {
    width: 60px;
    padding-bottom: 32px;
}
.sound h3,
.phone h3,
.community h3,
.interviews h3,
.resources h3
 {
    padding-bottom: 32px;
}
.sound {
    grid-area: sound;
    max-width: 380px;
}
.phone {
    grid-area: phone;
}
.community {
    grid-area: community;

}
.interviews {
    grid-area: interviews;
}
.resources {
    grid-area: resources;
}


.card-container {
    display: grid;
    margin: 0 auto;
    padding-bottom: 120px;
    gap: 20px;
    max-width: 1200px;
    grid-template-areas: 
    "sound       phone      phone"
    "sound       community  community"
    "interviews  interviews resources"
    
    
}
.sound {
    padding-top: 120px;
}

/* feature & host related style */
.features {
    background-color: #1A0B2E;

}
.feature-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.feature-card{
    gap: 30px;
    color: white;
    background-color: #250D44;
    border-radius: 20px;
    max-width: 300px;
    

}
.feature-card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2px 24px;
}
.feature-card p{
    font-size: 1rem;
    padding: 20px 24px; 
    align-items: center;
}
.feature-card iframe {
    max-width: 300px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
   
}
.feature-card img{
    width: 16px;
}
/* host style */
.host {
    padding-bottom: 120px;
}

.host-info {
    background-color: #240a45;
    color: white;
    padding: 10px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
  
}
.host-intro .name {
    font-size: 1.5rem;
    font-weight: 600;
}
.host-intro p {
    font-size: 1rem;
    line-height: 24px;
    padding-bottom: 20px;

}
.icone-circle {
    border: 1px solid rgb(244, 240, 240);
    border-radius: 1000px;
    padding: 10px;
    gap: 20px;
}
.icone-circle img {
    width: 16px;

}

/* footer sectioc related style */
 footer {
    background: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }
 .footer-container {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    padding-top: 82px;
    padding-bottom: 32px;
 }

.accaount-info {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;

}
.account-content {
    align-items: center;

}
.account-content img{
    width: 14px;
}
.account-content p {
    font-size: 1rem;
    padding-bottom: 32px;
}
.footer-title {
    font-size: 4.2rem;
    font-weight: bolder;
}
.footer-title span {
    background: linear-gradient(#F7E93F, #fb09b2, #9100f8);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.copyright {
    padding-bottom: 158px;
}



/* mobile-phone divice related style */

@media screen and (max-width: 576px) {
    .nav-content ul,
    .nav-content .btn {
        display: none;
    }
    .banner-container{
        padding: 0 20px;
    }
   .image-mobile{ 
    display: block;
   }
   .nav-content {
    justify-content: space-around;
   }
   .about-container {
    padding: 0 10px;

   }
   .box{
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
   }
  
   .card-container {
    display: grid;
    padding: 10px;
    grid-template-areas: 
    "sound "
    "phone"
    "community"
    "interviews"
    "resources" 
   }

   .feature-container{
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
   width: 80%;
   padding: 0 20px;
   
   }
   .host-info{
     flex-wrap: wrap;
     padding: 20px;
     width: 80%;
   }
   .accaount-info {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

   

    
   



/* medium device related style */